 <body>
  <section class="portfolio-background">
    <div class="container portfolio-container">
      <div class="row">
        <div class="col-md-12 portfolio-text">
          <h1 class="text-center">Check out some of my work!</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 img-responsive portfolio-item"> <%= image_tag("under-construction.jpg", class: 'img-responsive') %> </div>
        <div class="col-xs-12 col-sm-6 col-md-3 img-responsive portfolio-item "> <%= image_tag("under-construction.jpg", class: 'img-responsive') %> </div>
        <div class="col-xs-12 col-sm-6 col-md-3 img-responsive portfolio-item "> <%= image_tag("under-construction.jpg", class: 'img-responsive') %> </div>
        <div class="col-xs-12 col-sm-6 col-md-3 img-responsive portfolio-item "> <%= image_tag("under-construction.jpg", class: 'img-responsive') %> </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 img-responsive portfolio-item "> <%= image_tag("under-construction.jpg", class: 'img-responsive') %> </div>
        <div class="col-xs-12 col-sm-6 col-md-3 img-responsive portfolio-item "> <%= image_tag("under-construction.jpg", class: 'img-responsive') %> </div>
        <div class="col-xs-12 col-sm-6 col-md-3 img-responsive portfolio-item "> <%= image_tag("under-construction.jpg", class: 'img-responsive') %> </div>
        <div class="col-xs-12 col-sm-6 col-md-3 img-responsive portfolio-item "> <%= image_tag("under-construction.jpg", class: 'img-responsive') %> </div>
      </div>
    </div>
  </section>
</body>